---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Education from '../components/Education.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Publications from '../components/Publications.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Bharath Rajiv Nair | Robotics Software Engineer">
  <Nav />
  <main>
    <Hero />
    <About />
    <Education />
    <Experience />
    <Projects />
    <Publications />
    <Contact />
  </main>
</Layout>
